@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap");

body {
  background-color: rgb(214, 242, 214);
  margin: 2%;
  padding: 5px;
  font-family: "Open Sans", sans-serif;
}

.align {
  display: block;
}

.jscode {
  border: 5px solid red;
  padding: 1px;
  margin: 1%;
}

.pycode {
  border: 5px solid green;
  padding: 1px;
  margin: 1%;
}

.javacode {
  border: 5px solid blue;
  padding: 1px;
  margin: 1%;
}

h1 {
  font-family: "Lato", sans-serif;
}
