@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap");

body {
  background-color: hsl(195, 33%, 81%);
  margin: 2%;
  padding: 5px;
  font-family: "Open Sans", sans-serif;
  color: black;
}
.pageTitle {
  font-size: 4.7em;
  text-align: center;
}

.resp {
  max-width: 100%;
  height: auto;
}

.scroll {
  text-align: center;
  font-size: 1.4em;
}
#scrollWordsJS {
  color: Red;
}
#scrollWordsPY {
  color: green;
}
#scrollWordsJV {
  color: blue;
}

ul {
  list-style-type: none;
}

#modalChart {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
#modalChart:hover {
  opacity: 0.7;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

.pigInput{
  width:70%;
  padding:10px;
  font-size:1.2em;
}
.pigWord{
  font-size:1.3em;
  padding:10px;
  margin:2%;
}
.tip,
.pig,
.interactive {
  background-color: hsl(195, 77%, 81%);
  padding: 10px;
  border-radius: 3px;
  color: black;
}

.align {
  display: block;
}

.jscode,
.pycode,
.javacode {
  border-radius: 10px;
  padding: 3px;
  margin: 1%;
}
.jscode {
  border: 6px solid red;
}
.pycode {
  border: 6px solid green;
}

.javacode {
  border: 6px solid blue;
}

h1 {
  font-family: "Lato", sans-serif;
}

/* -- rpsls css -- */

.yourMove,
.compMove {
  border: 4px solid black;
  margin: 1%;
  padding: 5px;
  width: 35%;
  text-align: center;
  font-size: 1.6em;
}

.link {
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 10px;
  margin: 0 2%;
}
.link:hover {
  background-color: rgb(111, 111, 240);
}

.game {
  font-size: 1.5em;
}

.rpsBtn {
  font-size: 1.5em;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  border: 4px solid yellow;
}

.rpsBtn:hover,
.rpsBtn:active {
  background-color: yellow;
  border: 4px solid white;
}

.options {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.score {
  border: 2px solid orange;
  display: inline-flexbox;
  margin: 2%;
  padding: 5px;
}

.reset {
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 10px;
  margin: 4% auto;
  text-align: center;
  border: 2px solid black;
}

.reset:hover {
  background-color: black;
  color: white;
  border: 2px solid white;
}

pre {
  margin: 2%;
  white-space: pre-wrap;
  white-space: moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

code {
  padding: 20px;
}

nav {
  background-color: hsl(195, 87%, 81%);
}

/* weather */

.app-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(120, 200, 253, 0.3),
    rgba(0, 60, 100, 0.61),
    rgba(24, 68, 201, 0.767),
    rgba(44, 48, 252, 0.9)
  );
}
.mid {
  text-align: center;
  padding: 20px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.click,
.klick {
  width: 100%;
  max-width: 300px;
  text-align: center;
  padding: 10px;
  align-self: center;
  border-radius: 10px;
  margin: 5px auto;
  font-size: 1.1em;
}
.search input {
  width: 100%;
  max-width: 560px;
  padding: 20px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  border-bottom: 5px solid #df8e00;
  color: #313131;
  font-size: 1.5em;
  transition: 0.2s ease-out;
}

.search input:focus {
  background-color: rgba(255, 255, 255, 0.8);
}

main {
  flex: 1 1 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.location .city {
  color: rgb(255, 255, 255);
  font-size: 2.2em;
  margin-bottom: 15px;
}

.location .date {
  color: whitesmoke;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.current .temp {
  color: skyblue;
  font-size: 7em;
  text-shadow: 4px 10px rgba(0, 0, 0, 0.7);
  margin: 10px 0px;
}

.current .temp span {
  font-weight: 500;
}

.current .weather,
.current .description {
  color: #fff;
  font-size: 4em;
  padding: 10px;
  text-shadow: 0px 4px rgba(0, 0, 0, 0.3);
}
.current .hi-low {
  color: #fff;
  font-size: 3em;
  padding: 10px;
  text-shadow: 0px 4px rgba(0, 0, 0, 0.3);
}

.current .windSpeed,
.current .windGust,
.current .press,
.current .feels {
  color: #fff;
  font-size: 2em;
  text-shadow: 0px 2px rgba(0, 0, 0, 0.3);
  padding: 5px;
}
.current .weather {
  font-style: italic;
}

.wthrImage {
  margin: 10px;
  width: 100px;
  height: 100px;
  background-color: lightblue;
  text-align: center;
  border-radius: 20px;
}


.factFun,
.funFact {
  margin: 3% Auto;
  font-size: 1.4em;
  color: white;
  text-shadow: 1px 1px rgb(0, 0, 0);
}

.space {
  height: 200px;
}

.future .tomorrow,
.future .twoDays {
  text-align: center;
  color: #fff;
  font-size: 1.5em;
  text-shadow: 0px 2px rgba(0, 0, 0, 0.3);
  padding: 5px;
}

/* dog pics */

.woof {
  cursor: pointer;
  font-size: 20px;
  padding: 20px;
  margin: 5%;
  border-radius: 20px;
  border: 3px solid slateblue;
  background-color: skyblue;
}

.woof:hover {
  border: 5px solid rgb(80, 61, 202);
  background-color: rgb(136, 168, 180);
  padding: 18px;
}

.dogImage {
  max-width: 80%;
  max-height: 80%;
  background-color: silver;
}


footer{
  text-align: center;
  text-decoration: none;
  margin:5%;
  
}